name: Python CI

on:
  push:
    paths:
      - .github/workflows/python_ci.yml
      - py/**
  pull_request:
    paths:
      - .github/workflows/python_ci.yml
      - py/**

jobs:
  build:
    name: Running python ${{ matrix.python-version }} on ${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ["3.13", "3.14"]
        os: [macOS-latest, ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v6.0.1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true

    - name: Print Python Version
      run: python --version --version && which python

    - name: Install uv
      uses: astral-sh/setup-uv@v7

    - name: uv sync the project + install test deps
      run: |
        uv sync --locked --all-extras --dev --project py
        uv pip install --system black coverage mypy ty
        uv pip install --system -e py

    - name: Run tests + show coverage
      run: |
        uv run --project py coverage run py/src/tests.py
        uv run coverage report --show-missing

    - name: Run mypy strict
      run: |
        uv run mypy --strict py/src/

    - name: Run ty strict
      run: |
        uv run --project py ty check -v py/src/

    - name: Run black preview
      run: |
        uv run black --preview py/
